<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
  </head>
  <body>
    <nav class="navbar">
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <img
        src="https://static.cricbuzz.com/images/cb_logo.svg"
        alt="Image not found"
      />
      <ul>
        <li>
          <a
            href=""
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Live Score</a
          >
        </li>
        <li>
          <a href="" routerLink="matches" routerLinkActive="active">Matches</a>
        </li>
        <li>
          <a href="" routerLink="pointTable" routerLinkActive="active"
            >Point Table</a
          >
        </li>
        <li>
          <a href="" routerLink="ranking" routerLinkActive="active">Ranking</a>
        </li>
        <li>
          <a href="" routerLink="players" routerLinkActive="active">Players</a>
        </li>
        @if(!isLoggedIn()){
        <li>
          <button routerLink="login" class="btn btn-danger p-1 mb-2 Login">
            Login
          </button>
        </li>
        } @else{
        <li>
          <button routerLink="singup" class="btn btn-danger p-1 mb-2 Logout">
            Logout
          </button>
        </li>
        }
      </ul>
    </nav>
  </body>
</html>
