<div class="container">
  <h2 class="name">Live Cricket Score</h2>
  <div class="card-container d-flex flex-column flex-md-row flex-wrap">
    @for(score of liveScore; track $index){
    <div class="col-md-4" >
      <div class="card mt-2 mb-2 p-4 shadow-lg">
        <div class="header">
          <h5>
            {{ score.match }}
          </h5>
          <p class="mb-2">
            {{ score.venue }}
          </p>
        </div>
        <div class="body mt-2 px-2">
          <div class="d-flex justify-content-between">
            <p class="font">
              {{ score.team1 }}
            </p>
            <p class="font">
              {{ score.score1 }}
            </p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="font">
              {{ score.team2 }}
            </p>
            <p class="font">
              {{ score.score2 }}
            </p>
          </div>
        </div>

        <div class="footer">
          <p style="color: red">
            {{ score.toss }}
          </p>
          <p style="color: green">{{ score.result }}</p>
        </div>
      </div>
    </div>
    }
  </div>
</div>
