img{
    height: 35px;
    width: 25px;
    object-fit: contain;
    object-position: center;
}
h2{
    color: gray;
    margin-top: 20px;

}

.card{
    cursor: pointer;
    font-weight: 400;
    border-radius: 10px;
    padding: 20px;
    background: white !important;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2);
    border-bottom: 6px solid green;
}
 .image img{
    height: 150px;
    width: 150px;
    object-fit: contain;
    object-position: center;
 }
 .newsText h6{
    margin-bottom: 2px;
 }
 .head{
    color: blue;
    font-size: small;
 }

 @media (max-width:768px) {
    .card{
        flex: 1 1 100%;
        max-width: 100%;
        margin: 10px 0;
    }
.sider2{
    flex: 1 1 100%;
    max-width: 100%;
    margin: 10px 15px 0;
}
    
 }